<!-- appname/home.html -->
<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    {% block content %}
<head>
    <title>My Django App</title>
</head>
<body>
    <h1>Welcome to my Django app</h1>
    <p>This is a simple example.</p>
    <form method='post' action='{% url 'TipView' %}' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value="Submit">
      </form>
      <ul>
        {% for error in form.file_field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
</body>
    {% endblock %}
</html>