<!-- appname/home.html -->
<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    {% block content %}
<head>
    <title>Tips</title>
</head>
<body>
    <h1>Tips</h1>   
    <p>List of all tips currently in DB</p>
    <ul>
        {% for object in objects %}
            <li>
                <a href="{% url 'object_detail' object.pk %}">{{ object.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <button id="tipcreate" type="button">SubmitTip</button>
    
</body>
<script>
    document.getElementById('tipcreate').addEventListener('click', function() {
      // Define the URL to redirect to
      var targetUrl = "{% url 'TipView' %}"; // Replace 'target_view_name' with the actual view name
  
      // Perform the redirection
      window.location.href = targetUrl;
    });
    
  </script>
  {% endblock %}
</html>