<!-- appname/home.html -->
{% extends "base.html" %}
    {% block content %}
{% load cusfil %}
<!DOCTYPE html>
<html>
<head>
    <title>Object Detail</title>
</head>
<body>
    <h1>The following details of the object are</h1>
    <p>{{ obj.title }}</p>
    <p>{{ obj.details }}</p>
    <p>{{ obj.category }}</p>
    <a href="{{ obj.file_attachment.url }}" download="{{ obj.attachment.name|filename }}">{{ obj.attachment.name| filename }} Download Package</a>
    <p>{{ obj.created_at }}</p>
</body>
{% endblock %}
</html>