<!-- appname/home.html -->
{% load cusfil %}
<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    {% block content %}
<head>
    <title>Object Detail</title>
</head>
<body>
    <h1>The following details of the object are</h1>
    <p>{{ object.title }}</p>
    <p>{{ object.details }}</p>
    <p>{{ object.category }}</p>
    <a href="{{ object.file_attachment.url }}" download="{{ object.attachment.name|filename }}">{{ object.attachment.name| filename }} Download Package</a>
    <p>{{ object.created_at }}</p>
</body>
{% endblock %}
</html>